body{
    background-color:rgb(46, 46, 46);
    background-size: 100%;
    overflow-x: hidden;
}
#Studio{
    position: relative;
    background-color: rgb(71, 255, 117);
    width:200;
    height:70;
    border: none;
    border-radius:6px;
    font-family: arial black;
    font-size:23;
    color:rgb(34, 34, 34);
    left:250;
    top:219;
    outline: none;
}
#Studioa{
    position: relative;
    background-color: rgb(71, 255, 117);
    width:200;
    height:70;
    border: none;
    border-radius:6px;
    font-family: arial black;
    font-size:23;
    color:rgb(34, 34, 34);
    left:20;
    top:40;
    outline: none;
}
#Titles{
    color: white;
    font-family: arial black;
    font-size:30;
    position: relative;

    left:1%;
    top:1%;
    margin: auto;
    padding: 10px;
}
#mme{
    color: white;
    font-family: arial;
    font-size:30;
    position: relative;
    top:20;
    width: 500; 
    left:20;
}
