body {
    background-color: #333333;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
  }
  
  #divab {
    position: relative;
    left: 40;
    top: 475;
    z-index: 1000;
  
  }
  
  #ClapA {
    position: relative;
    left: 0;
    background-color: rgb(192, 192, 192);
    border: none;
    width: 80;
    outline: none;
    top: -100;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  
  }
  
  #codeinput1 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput2 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput3 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput4 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: rgb(48, 48, 48);
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
  }
  
  #codeinput5 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput6 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput7 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput8 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput9 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput10 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput11 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput12 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput13 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput14 {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput1a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    background-color: rgb(73, 73, 73);
    text-transform: uppercase;
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput2a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput3a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput4a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput5a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput6a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput7a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput8a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput9a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput10a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput11a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput12a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput13a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codeinput14a {
    width: 40;
    height: 40;
    text-align: center;
    font-size: 20;
    font-family: arial black;
    text-transform: uppercase;
    background-color: rgb(73, 73, 73);
    border: none;
    color: white;
    outline: none;
    position: relative;
    top: 50;
    left: -616;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    object-fit: cover;
  }
  
  #codecon {
    border: none;
    height: 50;
    width: 90;
    font-size: 20;
    background-color: rgb(95, 95, 95);
    position: relative;
    left: 1175;
    border-radius: 4px;
    top: -45;
    color: white;
    outline: none;
    font-family: arial black;
    object-fit: cover;
  }
  
  #Buttons {
    position: relative;
    top: 40;
    left: 40;
    object-fit: cover;
  }
  
  #ClapB {
    position: relative;
    left: -1176;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80;
    outline: none;
    top: -74;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #ClapBA {
    position: relative;
    left: -1175;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80;
    outline: none;
    top: -74;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #ClapC {
    position: relative;
    left: -2352;
    background-color: rgb(192, 192, 192);
    border: none;
    width: 80;
    outline: none;
    top: -49;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #ClapCA {
    position: relative;
    left: -2351;
    background-color: rgb(192, 192, 192);
    border: none;
    width: 80;
    outline: none;
    top: -49;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #ClapCB {
    position: relative;
    left: -2352;
    background-color: rgb(192, 192, 192);
    border: none;
    width: 80;
    outline: none;
    top: -49;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #ClapD {
    position: relative;
    left: -3528;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80;
    outline: none;
    top: -24;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #ClapDA {
    position: relative;
    left: -3528;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80;
    outline: none;
    top: -24;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #MainTrack1 {
    position: relative;
    width: 1172;
    background-color: #5bff8c;
    font-size: 15;
    font-family: Arial;
    top: -183;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  }
  
  #MainTrack2 {
    position: relative;
    width: 1172;
    background-color: #5bff8c;
    font-size: 15;
    font-family: Arial;
    top: -183;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
  
  }
  
  #ClapE {
    position: relative;
    left: 0;
    background-color: rgb(192, 192, 192);
    border: none;
    width: 80;
    outline: none;
    top: -112;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
    z-index: 30000000;
  }
  
  #ClapF {
    position: relative;
    left: -1176;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80;
    outline: none;
    top: -86;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
    white-space: nowrap;
  }
  
  #ClapFA {
    position: relative;
    left: -1176;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 80;
    outline: none;
    top: -86;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
    white-space: nowrap;
  }
  
  #ClapG {
    position: relative;
    left: -2352;
    background-color: rgb(192, 192, 192);
    border: none;
    width: 80;
    outline: none;
    top: -60;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
    white-space: nowrap;
  }
  
  #ClapG2 {
    position: relative;
    left: -2352;
    background-color: rgb(192, 192, 192);
    border: none;
    width: 80;
    outline: none;
    top: -60;
    text-align: left;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
    object-fit: cover;
    white-space: nowrap;
  }
  
  #buttons2 {
    position: relative;
    top: 120;
    left: 40;
  }
  
  #OmTitle {
    position: relative;
    top: 60;
    left: 950;
    font-family: arial black;
    color: rgba(255, 255, 255, 0.486);
    font-size: 30;
  }
  
  #Play {
    position: relative;
    left: 620;
    top: 390;
    z-index: 2000;
    object-fit: cover;
    background-color:rgb(59, 255, 108);
    height: 70;
    width:70;
    border: none;
    border-radius: 100px;
    font-family:arial black;
    color:rgb(87, 255, 101);
    font-size:70;
    background:none;
    outline:none;
  }
  
  #Loop {
    position: relative;
    left: 760;
    top: -47;
    object-fit: cover;
    background-color:rgb(59, 255, 108);
    height: 70;
    width:70;
    border: none;
    border-radius: 100px;
    font-family:arial black;
    color:rgb(58, 58, 58);
    font-size:100;
    background:none;
    color:rgb(87, 255, 101);
    outline:none;
  }
  
  #Tunes {
    position: relative;
    width: 612;
    background-color: #5bff8c;
    font-size: 15;
    font-family: Arial;
    top: -593;
    left: 0;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(24, 24, 24);
  }
  
  #Loop2 {
    position: relative;
    left: 690;
    top: -224;
    object-fit: cover;
    background-color:rgb(59, 255, 108);
    height: 70;
    width:70;
    border: none;
    border-radius: 100px;
    font-family:arial black;
    color:rgb(58, 58, 58);
    font-size:22;
    text-align:middle;
    font-size:100;
    background:none;
    color:rgb(87, 255, 101);
    outline:none;
  }
  
  #Loop3 {
    position: relative;
    left: 754;
    font-style: bold;
    top: -227;
    object-fit: cover;
    background-color:rgb(59, 255, 108);
    height: 70;
    width:70;
    border: none;
    border-radius: 100px;
    background:none;
    font-size:70;
    background:none;
    color:rgb(87, 255, 101);
    outline:none;
  }
  
  #App {
    position: relative;
    left: 1045;
    background-color: rgb(83, 255, 98);
    border: none;
    width: 50;
    outline: none;
    top: -329;
    text-align: center;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(48, 48, 48);
    font-size: 13;
    z-index: 9999999999999999999999999999;
    background-color: rgb(78, 255, 107);
  }
  #For {
    position: relative;
    left: 925;
    border: none;
    outline: none;
    top: -305;
    text-align: center;
    border-radius: 4px;
    font-family: arial black;
    color: rgb(255, 255, 255);
    font-size: 11;
    z-index: 9999999999999999999999999999;
    background:none;
  }
  #nav{
    position: relative;
    left:80;
    top:30;
  }
